* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: Ember, Roboto, Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  background: #f1f1f1;
}

header {
  background: #152839;
  color: #adb3b8;
  color: #fff;
  padding: 20px;
}

header h1 {
  font-size: 20px;
}

main {
  margin: 20px;
}

button {
  padding: 0.4em 1em;
  font-size: 15px;
  border-radius: 3px;
  cursor: pointer;
  border-color: #a88734;
}

#Logout {
  margin-left: 10px;
}

#AmazonLoginButton {
  margin-left: 10px;
  background: #f0c14b;
}

.buttons-wrapper {
  display: flex;
  align-items: flex-start;
}

#addressWidget { 
  width: 400px; 
  height: 228px;
  margin-right: 10px;
}

#walletWidget {
  width: 400px; 
  height: 228px;
}

.widgets {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}